/* LOGIN OVERLAY */
#loginOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
  display: none;
  z-index: 9999;
}

.login-container {
  width: 350px;
  margin: 100px auto;
  background: #2c2c2c;
  padding: 30px;
  border-radius: 10px;
  color: white;
  text-align: center;
}
